@model AdvertSystem.Models.CompanyModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompanyModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Co_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Co_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Co_Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Co_Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Co_BillStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Co_BillStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Co_BillPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Co_BillPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Co_BillCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Co_BillCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Co_Steet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Co_Steet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Co_PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Co_PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Co_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Co_City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Co_OrgId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
