@model AdvertSystem.Models.CompanyModel

@{
    ViewData["Title"] = "Edit";

    ViewBag.Titles = new {
		Co_Name = "Företagsnamn",
		Co_Telephone = "Telefonnummer",
        Co_OrgId = "Organisationsnummer",
		Co_BillStreet = "Faktura Adress",
		Co_BillPostalCode = "Faktura Postnummer",
		Co_BillCity = "Faktura Ort",
		Co_Steet = "Adress",
        Co_PostalCode ="Postnummer",
        Co_City = "Ort"
	};
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            @foreach(var property in typeof(CompanyModel).GetProperties()) {
				@if (property.Name == "Co_Id")
				{
					<input type="hidden" name="@(property.Name)" value="@property.GetValue(Model)">
					continue;
				}
                @if (property.Name == "Co_OrgId")
				{
					<input type="hidden" name="@(property.Name)" value="@property.GetValue(Model)">
					continue;
				}

				<label>@ViewBag.Titles.GetType().GetProperty(property.Name).GetValue(ViewBag.Titles)</label>
				<input type="text" class="form-control mb-2" placeholder="" name="@(property.Name)" value="@(property.GetValue(Model))">
			}
			<input type="submit" class="btn btn-primary mb-2" value="Uppdatera">
        </form>

		<form method="get" action="/Company/Details/@Model.Co_Id">
			<input type="submit" class="btn btn-primary" value="Avbryt">
		</form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
